<div>
    <div class="container add_content">
        <h2>Tạo vào chia sẽ bài viết của bạn</h2>
        <div>
            <button type="button" class="btn btn-outline-dark" onclick="window.location='course/create'">Đăng bài viết</button>
        </div>
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <h2>blog mới nhất</h2>
        {{#each courses}}
        <div class="col-md-4" onclick="window.location='/course/{{this.slug}}';">
            <div class="card mb-4 shadow-sm">
                <img src="{{this.img}}"/>
                <div class="card-body">
                <p class="card-text">{{this.title}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
                </div>
            </div>
            </div>
         {{/each}}
      </div>

    </div>
</div>
