
<div class="container show">
    <div class="contentframe">
        <h5>Thông tin cá nhân</h5>
        <p>{{user.email}}</p>
        <p>{{fullname user.firstname user.lastname}}</p>
    </div>
</div>